name: Sync Labels

on:
  workflow_call:
  push:
    branches:
      - master
    paths:
      - .github/workflows/sync-labels.yml
      - merge-labels/**/*.*
      - .github/labels.yml
  schedule:
    - cron: '0 0 * * 4'

jobs:
  sync_labels:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout tools repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: RocketSurgeonsGuild/.github
          path: .rsg

      - name: merge files
        uses: RocketSurgeonsGuild/actions/merge-labels@v0.3.15
        with:
          files: '.rsg/.github/labels.yml,.github/labels.yml'
          output: .github/labels.yml

      - name: Run Labeler
        if: success()
        uses: crazy-max/ghaction-github-labeler@v6.0.0
        with:
          yaml-file: .github/labels.yml
          skip-delete: false
          dry-run: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
